  body{
    text-align: center;
    font-family: Open Sans, sans-serif;
    background-color: #8A71C9;
    color: #ffffff;
    margin: 0;
  }

  button{
  background: #41f341;
  border: 1px solid transparent;
  padding: 2px 20px;
  border-radius: 3px;
  }

  h2{
    color:#2A0074;
  }

  .titulo-verde{
    color:#04ff9f;
  }

  .titulo-vermelho{
    color:#FF9E9E;
  }

  .titulo-amarelo{
    color:#ffe36d;
  }

  section{
    max-width: 60%;
    margin: 0 auto;
  }

  h1{
    font-size: 60px;
    font-weight: 300;
  }

  h3{
    font-size:22px;
    font-style: italic;
    }

  p{
    line-height: 1.5;
    font-size: 20px;
    }

  img{
    width: 100%;
    }

  ul{
    list-style-type: none;
    line-height: 2;
    margin-top: 100 xp;
    padding-left:0%
    }

  a{
   text-decoration: none;
   color:#99ffff;
   font-weight: 700;
  }

  .principal{
  background: #ff6cb5;
  height: 40px;
  max-width: 60% ;
  margin: 0 auto ;
  }

  .principal a{
    color: #fff;
    text-decoration: underline;
    font-weight: normal;
  }
  .principal li{
    display: inline-block;
    line-height: 2.5;
    margin: 0 89px;
  }

